@import "settings";
@import "~foundation-sites/scss/foundation";
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-accordion;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
@include add-foundation-colors;

.App {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
