@import "settings";
@import "~foundation-sites/scss/foundation";
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-accordion;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
@include add-foundation-colors;

.bg-container {
  position: relative;
  display: flex;
  width: 414px;
  height: 896px;
  align-items: center;
  z-index: 1;
}

.bg-circle {
  position: absolute;
  width: 706px;
  height: 706px;
  left: 16px;
  top: 144px;
  background-color: $primary-color;
  border-radius: 50% 0 0 50%;
  opacity: 0.3;
  z-index: -999;
}
