@use "sass:math";
@import "settings";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: rem-calc(15 30);
  z-index: 999;

  @include breakpoint(large) {
    background-color: $white;
  }

  .logo {
    img {
      max-width: rem-calc(50);
    }
  }

  ul {
    margin: 0;
    list-style: none;

    li {
      a {
        margin-right: rem-calc(50);
        color: $black;
        font-size: rem-calc(17);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: rem-calc(80);
  background-color: $white;
  transform: translateY(-100%);
  transition: transform 0.6s ease-in-out;
  overflow-y: scroll;
  z-index: 998;

  ul {
    margin: 0;
    list-style-type: none;

    li {
      margin-bottom: rem-calc(30);

      @include breakpoint(medium) {
        margin-bottom: rem-calc(40);
      }

      a {
        color: $black;
        font-size: rem-calc(28);
        text-decoration: none;

        @include breakpoint(medium) {
          font-size: rem-calc(32);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .button {
    margin-top: rem-calc(60);

    @include breakpoint(medium) {
      margin-top: rem-calc(80);
    }
  }

  &.active {
    transform: translateY(0%);
  }
}

.hamburger {
  padding: rem-calc(15 0 15 15);
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  .hamburger-box {
    width: rem-calc(30);
    height: rem-calc(3) * 3 + rem-calc(6) * 2;
    display: inline-block;
    position: relative;

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: math.div(rem-calc(3), -2);
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &,
      &::before,
      &::after {
        width: rem-calc(30);
        height: rem-calc(3);
        background-color: $black;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
      }

      &::before,
      &::after {
        content: "";
        display: block;
      }

      &::before {
        top: (rem-calc(6) + rem-calc(3)) * -1;
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
      }

      &::after {
        bottom: (rem-calc(6) + rem-calc(3)) * -1;
        transition: bottom 0.1s 0.25s ease-in,
          transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &.is-active {
    &:hover {
      opacity: 0.7;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $black;
    }

    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
