@import "settings";

.login-page {
  position: relative;
  width: 414px;
  height: 896px;
  align-items: center;
  z-index: 1;
}

.bg {
  position: absolute;
  width: 706px;
  height: 706px;
  left: 16px;
  top: 144px;
  background-color: $primary-color;
  border-radius: 50% 0 0 50%;
  opacity: 0.3;
  z-index: -1;
}

h1,
h3 {
  text-align: center;
}

input {
  border-radius: 24px;
  border: none;
  color: $medium-gray;
  font-size: $small-font-size;
  padding: 5px 10px;
  margin: 5px;
}

.btn {
  position: absolute;
  width: 290.35px;
  left: calc(50% - 290.35px / 2 - 1.82px);
  top: 72.66%;
  bottom: 20.69%;
  background-color: $secondary-color;
  color: white;
  border-radius: 38px;

  /* Shadow principal cta */

  filter: drop-shadow(0px 100px 80px rgba(147, 120, 255, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(147, 120, 255, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(147, 120, 255, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(147, 120, 255, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(147, 120, 255, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(147, 120, 255, 0.0196802));
}

.register-link {
  position: absolute;
  width: 290.35px;
  left: calc(50% - 290.35px / 2 - 1.82px);
  top: 82%;
  bottom: 30.69%;
  border: none;
  color: $black;
  font-size: $small-font-size;
  cursor: pointer;
}
