@import "settings";
@import "~foundation-sites/scss/foundation";
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-accordion;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
@include add-foundation-colors;

.content {
  display: block;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h1,
h3 {
  text-align: center;
}

.history-list {
  height: 100vh;
}
